{% load shoplist_extras %}
{% csrf_token %}

<table id="purchase-list">

  <th data-th-name="purchased">Куплен {% get_sort 'purchased' %}</th>
  <th data-th-name="name">Продукт {% get_sort 'name' %}</th>
  <th data-th-name="amount">Кол-во {% get_sort 'amount' %}</th>
  <th data-th-name="unit">Ед. изм. {% get_sort 'unit' %}</th>
  <th data-th-name="category">Категория {% get_sort 'category' %}</th>
  <th data-th-name="priority">Приоритет {% get_sort 'priority' %}</th>
  <th></th>
  <th></th>

  {% if purchase_list.count %}
    {% for purchase in purchase_list %}
      <tr data-pid="{{ purchase.id }}">
        <td><input type="checkbox" title="Куплен" disabled {% is_flag_on purchase.purchased 'checked' %}></td>
        <td>{{ purchase.name }}</td>
        <td>{{ purchase.amount }}</td>
        <td>{{ purchase.unit.name }}</td>
        <td>{{ purchase.category.name }}</td>
        <td>{{ purchase.priority.name }}</td>
        <td><input class="edit-purchase" type="button" value="Ред-ть"></td>
        <td><input class="del-purchase" type="button" value="Удалить"></td>
      </tr>
    {% endfor %}
  {% else %}
    <tr>
      <td colspan="8">
        Список покупок пуст
      </td>
    </tr>
  {% endif %}
</table>
