{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  {% block title %} {% endblock %}

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="{% static 'shoplist/css/style.css' %}">

  <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
  </script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <script src={% static 'shoplist/js/script.js' %}></script>
</head>
<body>

  <ul class="nav nav-pills">
    <li><a href="{% url 'purchase-list' %}">Список покупок</a></li>
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Справочники <span class="caret"></span></a>

      <ul class="dropdown-menu">
        <li><a href="{% url 'unit-list' %}">Ед. измерения</a></li>
        <li><a href="#">Категории</a></li>
        <li><a href="#">Приоритеты</a></li>
        <li><a href="#">Товары</a></li>
      </ul>
    </li>
  </ul>

  <div class="content">
    {% block content %} {% endblock %}
  </div>
</body>
</html>