th {
  text-align: left;
  cursor: pointer;
}

.purchase-name {
  cursor: pointer;
}

.purchased {
  text-decoration: line-through;
  opacity: 0.5;
}

.error-lists {
  padding: 10px;
  color: #D63301;
  background-color: #FFCCBA;
  font-size: 12px;
}

.error-lists > td > div {
  border: 1px solid;
  color: #D63301;
}
