th {
  text-align: left;
}

.mn-purchase {
  cursor: pointer;
}

.purchased {
  color: gray;
}

.purchased > td:not([class='click-ignore'])::after {
  content: '';
  display: block;
  position: relative;
  top: -0.65em;
  outline: 1px solid gray;
  opacity: 0.3;
}

.error-lists {
  padding: 10px;
  color: #D63301;
  background-color: #FFCCBA;
  font-size: 12px;
}

.error-lists > td > div {
  border: 1px solid;
  color: #D63301;
}
